/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	/* по умолчанию */
	/* font-size: 16px;  */
}
body {
	line-height: 1;
	color: #4b4b4b;
	font-family: "Roboto";
	background-color: #f5f5f5;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ------------------------------ */

body {
	font-family: Roboto;
	background-color: #f5f5f5;
}

.main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1050px;
	margin: 0px auto;
	padding: 0px 15px;
}

.promise {
	padding: 65px 0 122px;
}
.promise__header {
	margin: 0 0 68px 0;
}
.title__subtitle {
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	padding: 1px 0 0 33px;
}
.title__subtitle:not(:last-child) {
	margin: 0 0 33px 0;
}
.title__subtitle_violet {
	background: url(../img/icon/overline_violet.svg) 0 0 / 24px 24px no-repeat;
	color: #5d62b5;
}
.title__text {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.17;
	color: #000000;
}
.promise__items {
	display: flex;
	margin: 0 -12px;
	flex-wrap: wrap;
	row-gap: 24px;
}
.promise__item {
	display: flex;
	flex: 1 0 33.333%;
	padding: 0 12px;
	align-items: flex-start;
	column-gap: 23px;
	min-width: 220px;
}
.promise__image {
	flex: 0 0 63px;
}
.promise__image img {
	width: 100%;
}
.item-title {
	font-weight: 900;
	font-size: 19px;
	line-height: 1.36;
	color: #f2726f;
}
.item-title:not(:last-child) {
	margin: 0 0 20px 0;
}
.item-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
}

.services {
	overflow: hidden;
	padding: 110px 0 113px 0;
	position: relative;
	/* z-index: 50; */
}
.services::before {
	content: "";
	background: url(../img/services/bg.png) left -570px no-repeat;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 0;
	transform: translate(240px, 0);
	width: 100%;
	height: 100%;
}
.services__container {
	display: flex;
	flex-direction: column;
}
.services__header:not(:last-child) {
	margin: 0 0 78px 0;
}
.services__items:not(:last-child) {
	margin-bottom: 66px;
}
.services__items {
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	row-gap: 24px;
	margin: 0 -12px;
}
.services__item {
	padding: 0 12px;
	flex: 1 0 33.333%;
	min-width: 250px;
}
.item-services {
	padding: 50px 43px;
	background: #ffffff;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 100%;
}
.item-services__img {
	flex: 0 1 63px;
	width: 63px;
	display: flex;
	align-self: center;
	align-items: flex-end;
	margin: 0 0 33px;
}
.item-services__img img {
	width: 100%;
	max-height: 63px;
}
.services__button {
	text-align: center;
	padding: 12px 25px;
	background-color: #f2726f;
	align-self: center;
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	align-items: center;
	text-align: center;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 8px;
}
.impact {
	background-color: #29c3be;
	padding: 112px 0 212px;
	position: relative;
}
.impact::before {
	content: "";
	position: absolute;
	background: url(../img/impact/blob_green.png) left top no-repeat;
	top: 0;
	left: 50%;
	z-index: 0s;
	transform: translate(-85px, 0);
	/* height: 100%; */
	width: 700px;
	height: 275px;
}
.impact__container {
}
.impact__body {
	display: flex;
	margin: 0px -15px;
}
.impact__body:not(:last-child) {
	margin-bottom: 79px;
}
.impact__content {
	flex: 0 0 50%;
	padding: 0 15px;
}
.impact__header {
	max-width: 450px;
}
.title {
	display: flex;
	flex-direction: column;
	z-index: 1;
}
.title__subtitle_white {
	color: #ffffff;
	background: url(../img/icon/overline_white.svg) no-repeat;
}
.title__text_white {
	color: #ffffff;
}
.impact__img {
	flex: 0 0 50%;
	margin: -192px 0 0 0;
	padding: 0px 15px;
	z-index: 1;
}
.impact__img img {
	border-radius: 42px;
}
.impact__items {
	display: flex;
	margin: 0 -12px;
	flex-wrap: wrap;
}
.impact__item {
	display: flex;
	column-gap: 11px;
	flex: 0 1 25%;
	padding: 0 12px;
}
.impact__icon {
	flex: 0 1 76px;
}
.impact__icon img {
	max-width: 100%;
}
.impact__aside {
}
.impact__number {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.17;
	color: #ffffff;
}
.impact__number:not(:last-child) {
	margin-bottom: 3px;
}
.impact__descr {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #5d62b5;
}

.more {
}
.more__content {
	background-color: #5d62b5;
	border-radius: 20px;
	padding: 43px 76px 46px 70px;
	transform: translate(0, -78px);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.more__text {
	font-weight: 900;
	font-size: 24px;
	line-height: 1.25;
	color: #ffffff;
	max-width: 562px;
}
.more__button {
	background-color: #f2726f;
	padding: 9px 33px;
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	align-self: center;
	align-items: center;
	text-align: center;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	border-radius: 9px;
}

.more__button a {
	color: #ffffff;
}
